body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(206, 216, 206);
}

.page-heading {
    font-size: 40px;
    background-color: rgb(133, 163, 134);
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: underline;
}

h1 {
    text-align: center;
}

.original-link a {
    color: black;
}

.home-button a {
    display: inline-block;
    color: black;
    background: white;
    padding: 5px 10px;   
    border: 1px solid black;
    text-decoration: none;
    box-sizing: border-box;
    margin-bottom: 10px; 
}

.home-button a:hover {
  transform: scale(1.05);   /* subtle zoom effect */
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.image-box {
  text-align: center; /* centers inline elements inside */
}

.image-box img {
  display: inline-block; /* optional, ensures proper alignment */
  max-width: 50%;       /* keeps image responsive */
  height: auto;          /* maintain aspect ratio */
}

.checkbox-list {
  list-style: none;   /* remove bullets */
  padding: 0;
}

.checkbox-list li {
  margin-bottom: 5px;
  margin-left: 20px;
}

.checkbox-list input[type="checkbox"] {
  transform: scale(1.3);      /* make them bigger */
  margin-right: 8px;          /* space between box and text */
  accent-color: rgb(71, 87, 72);
}

.steps li {
    margin-bottom: 5px;
}